.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  list-style: none;
}

.itemGallery {
  border: 2px solid #ccc;
  padding: 5px;
}

.imgItem {
  width: 360px;
  height: auto;
  display: block;
}
